<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  &nbsp;
  <table class="table">
    <caption>Number of Item(s) sell every quater.</caption>
    <thead>
      <tr>
        <th scope="col">ITEM</th>
        <th scope="col">QUATER 1</th>
        <th scope="col">QUATER 2</th>
        <th scope="col">QUATER 3</th>
        <th scope="col">QUATER 4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><a href="/second-page">LATITUDE</a></th>
        <td>1000</td>
        <td>1500</td>
        <td>1750</td>
        <td>2000</td>
      </tr>
      <tr>
        <th scope="row"><a href="/second-page">XPS</a></th>
        <td>1800</td>
        <td>1500</td>
        <td>2250</td>
        <td>2800</td>
      </tr>
      <tr>
        <th scope="row"><a href="/second-page">INSPIRON</a></th>
        <td>2850</td>
        <td>2500</td>
        <td>3750</td>
        <td>4000</td>
      </tr>
      <tr>
        <th scope="row"><a href="/second-page">PRECISION</a></th>
        <td>2400</td>
        <td>2500</td>
        <td>2750</td>
        <td>3000</td>
      </tr>
      <tr>
        <th scope="row"><a href="/second-page">TABLET</a></th>
        <td>1200</td>
        <td>1300</td>
        <td>1100</td>
        <td>1000</td>
      </tr>
      <tr>
        <th scope="row"><a href="/second-page">RUGGED</a></th>
        <td>2000</td>
        <td>2500</td>
        <td>2750</td>
        <td>3000</td>
      </tr>
      <tr>
        <th scope="row"><a href="/second-page">SERVER</a></th>
        <td>2600</td>
        <td>2800</td>
        <td>3000</td>
        <td>3200</td>
      </tr>
      <tr>
        <th scope="row"><a href="/second-page">DESKTOP</a></th>
        <td>1350</td>
        <td>1700</td>
        <td>1880</td>
        <td>2240</td>
      </tr>
    </tbody>
  </table>


